<footer class="footer">
  <div class="container">
    <div class="footer-links">
      <div class="col">
      </div>
      <div class="col">
        <ul>
          <li><span class="heading">Product</span></li>
          <li><a href="https://www.thoughtspot.com/product" target="_blank" rel="noopener">Product</a></li>
          <li><a href="https://www.thoughtspot.com/spotiq" target="_blank" rel="noopener">SpotIQ</a></li>
          <li><a href="https://www.thoughtspot.com/mobile" target="_blank" rel="noopener">Mobile</a></li>
          <li><a href="https://www.thoughtspot.com/embedded-analytics" target="_blank" rel="noopener">Embedded Analytics</a></li>
          <li><a href="https://www.thoughtspot.com/architecture" target="_blank" rel="noopener">Architecture</a></li>
          <li><a href="https://www.thoughtspot.com/pricing" target="_blank" rel="noopener">Pricing</a></li>
        </ul>
      </div>
      <div class="col">
        <ul>
          <li><span class="heading">Solutions</span></li>
          <li><a href="https://www.thoughtspot.com/solutions" target="_blank" rel="noopener">Overview</a></li>
          <li><a href="https://www.thoughtspot.com/solutions/retail" target="_blank" rel="noopener">Retail</a></li>
          <li><a href="https://www.thoughtspot.com/solutions/financial-services" target="_blank" rel="noopener">Fincancial Services</a></li>
          <li><a href="https://www.thoughtspot.com/solutions/manufacturing">Manufacturing</a></li>
          <li><a href="https://www.thoughtspot.com/solutions/communications" target="_blank" rel="noopener">Communications</a></li>
          <li><a href="https://www.thoughtspot.com/solutions/healthcare-life-sciences" target="_blank" rel="noopener">Healthcare</a></li>
          <li><a href="https://www.thoughtspot.com/solutions/embedded-analytics" target="_blank" rel="noopener">Embedded Analytics</a></li>
          <li><a href="https://www.thoughtspot.com/solutions/procurement-analytics" target="_blank" rel="noopener">Procurement</a></li>
          <li><a href="https://www.thoughtspot.com/solutions/government-analytics" target="_blank" rel="noopener">Government Analytics</a></li>
        </ul>
      </div>
      <div class="col">
        <ul>
          <li><span class="heading">Resources</span></li>
          <li><a href="https://www.thoughtspot.com/resources" target="_blank" rel="noopener">Overview</a></li>
          <li><a href="https://www.thoughtspot.com/resources/demo-video" target="_blank" rel="noopener">Demo Videos</a></li>
          <li><a href="https://www.thoughtspot.com/resources/analyst-report" target="_blank" rel="noopener">Analyst Report</a></li>
          <li><a href="https://www.thoughtspot.com/resources/webinar" target="_blank" rel="noopener">Webinars</a></li>
          <li><a href="https://www.thoughtspot.com/resources/case-study" target="_blank" rel="noopener">Case Studies</a></li>
          <li><a href="https://www.thoughtspot.com/resources/white-paper" target="_blank" rel="noopener">White Papers</a></li>
          <li><a href="https://www.thoughtspot.com/resources/datasheet" target="_blank" rel="noopener">Datasheets</a></li>
          <li><a href="https://www.thoughtspot.com/resources/solution-brief" target="_blank" rel="noopener">Solution Briefs</a></li>
        </ul>
      </div>
      <div class="col">
        <ul>
          <li><span class="heading">About Us</span></li>
          <li><a href="https://www.thoughtspot.com/team" target="_blank" rel="noopener">Team</a></li>
          <li><a href="https://www.thoughtspot.com/customers" target="_blank" rel="noopener">Customers</a></li>
          <li><a href="https://www.thoughtspot.com/atlas-marketplace" target="_blank" rel="noopener">Atlas Marketplace</a></li>
          <li><a href="https://www.thoughtspot.com/partners" target="_blank" rel="noopener">Partner Directory</a></li>
          <li><a href="https://www.thoughtspot.com/events" target="_blank" rel="noopener">Events</a></li>
          <li><a href="https://www.thoughtspot.com/news" target="_blank" rel="noopener">News</a></li>
          <li><a href="https://www.thoughtspot.com/careers" target="_blank" rel="noopener">Careers</a></li>
          <li><a href="https://www.thoughtspot.com/blog" target="_blank" rel="noopener">Blog</a></li>
          <li><a href="https://www.thoughtspot.com/legal" target="_blank" rel="noopener">Legal</a></li>
        </ul>
      </div>
      <div class="col">
        <ul>
          <li><span class="heading">Connect</span></li>
          <li><a href="https://www.thoughtspot.com/demo" target="_blank" rel="noopener">Request Demo</a></li>
          <li><a href="https://community.thoughtspot.com" target="_blank" rel="noopener">Community</a></li>
          <li><a href="https://www.thoughtspot.com/support" target="_blank" rel="noopener">Support</a></li>
          <li><a href="https://www.thoughtspot.com/contact" target="_blank" rel="noopener">Contact Us</a></li>
        </ul>
      </div>
    <div class="footer-terms">
      <span>&copy;2020 ThoughtSpot, All rights reserved.</span>
      <a href="https://www.thoughtspot.com/privacy-policy">Privacy Policy</a>
      <a href="https://www.thoughtspot.com/thoughtspot-terms-of-use">Terms of Use</a>
      <a href="https://www.thoughtspot.com/cookies-policy">Cookie Policy</a>
    </div>
  </div>
</footer>
